 <div class="container">
        <h1 >Bonjour,</h1>
        <h5>Ou désirer-vous aller ?</h5>
     </div>
 <ion-card >
         <ion-item>      
            <ion-icon name="train" item-start></ion-icon>
            <ion-input type="email" name="email" required placeholder="Depart"></ion-input>
          </ion-item>
          <ion-item>      
            <ion-icon name="train" item-start></ion-icon>
            <ion-input type="email" name="email" required placeholder="Arrive"></ion-input>
          </ion-item>
          
  </ion-card>
   
  <ion-row>
      <ion-col col-5>
        
      </ion-col>
      <ion-col>
        
            <!-- Real floating action button, fixed. It will not scroll with the content -->
            <ion-fab top right edge>
              <button ion-fab mini style="background-color: black" (click)="goReservationPage()"><ion-icon name="md-arrow-forward"></ion-icon></button>
            </ion-fab>
      </ion-col>
  </ion-row>
