page-about {
 background-color:orangered;

 .container{
     margin-top: 10%;
     margin-left: 10%;
     color: white;
     font-style: oblique;
     font-family:Verdana, Geneva, Tahoma, sans-serif


 }
 h1{
     font-size: 450%;
     font-style: oblique;
  font-family:Verdana, Geneva, Tahoma, sans-serif
 }

}
