page-login {

    .toolbar-background-md{
        background-color: orangered;
        height: 300%;
     
       
    }
    .toolbar-title-md{
      color: white;
      font-size: 25px;
      font-style: oblique;
      font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    .bar-button-md[icon-only]{
      color: white;
      font-size: 14px;
    }
    
    .txt{
      margin-bottom: 10%;
      margin-top: 10%;
    }
    .but1{
      color: orangered;
    }
    img{
      width: 20%;
      margin-left: 32.5%;
    
    }
    h5{
      margin-left: 2%;
    }
    
    #button{
      background-color: orangered;
    }
}
