<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Reservation" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mes alertes" tabIcon="ios-notifications"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Plus" tabIcon="ios-keypad-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Compte" tabIcon="md-person"></ion-tab>

 
</ion-tabs>
