page-home {

  
  .toolbar-background-md{
    background-color: orangered;
    height: 300%;
 
   
}
.toolbar-title-md{
  color: white;
  font-size: 25px;
  font-style: oblique;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
.bar-button-md[icon-only]{
  color: white;
  font-size: 18px;
}

.txt{
  margin-bottom: 40%;
  margin-top: 20%;
}
.but1{
  color: orangered;
}
img{
  width: 40%;
  margin-left: 32.5%;

}
h5{
  margin-left: 20%;
}
}