<ion-header>
  <ion-navbar>
    <ion-title>Mon compte!</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()"><ion-icon name="close-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  
      <section class="txt">
       <img src="assets/imgs/user.png" alt="">
        <h5>Votre compte client vous simplifie votre vie!</h5>
        </section>
        <section>
            <ion-row>
                <ion-col col-3>
                    <button ion-button color="danger" outline round (click)="login()">connecter</button>
                </ion-col>
               <ion-col col-4></ion-col>
                <ion-col col-3>
                    <button ion-button  color="danger" round style="width:200%;" (click)="registre()">creer compte</button>
                </ion-col>
              </ion-row>
        </section>
      
  

 
   
  
</ion-content>
