<!--
  Generated template for the RegistrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Creer un Compte</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()"><ion-icon name="close-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  
      <section class="txt">
       <img src="assets/imgs/user.png" alt="">
        <h5>Votre compte client vous simplifie votre vie!</h5>
        </section>
       
     

          <ion-list>

             

                <ion-item>
                    <ion-label>Username</ion-label>
                    <ion-input type="text" value=""></ion-input>
                  </ion-item>
                
            
        
            <ion-item>
              <ion-label>Email</ion-label>
              <ion-input type="text" value=""></ion-input>
            </ion-item>
        
            <ion-item>
              <ion-label>Password</ion-label>
              <ion-input type="password" value=""></ion-input>
            </ion-item>

            <ion-item>
              <ion-label>Confirm password</ion-label>
              <ion-input type="password" value=""></ion-input>
            </ion-item>
        
          </ion-list>
        
          <div padding>
            <button ion-button block id="button">S'inscrire</button>
          </div>
        
      
  

 
   
  
</ion-content>
