<!--
  Generated template for the ComptePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Mon compte!</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()"><ion-icon name="close-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
 
  
      <section class="txt">
       <img src="assets/imgs/user.png" alt="">
        <h5>Votre compte client vous simplifie votre vie!</h5>
        </section>
        
      
  

 
   
  
</ion-content>